<html xmlns:th="http://www.thymeleaf.org">
<body>
	<h2>FOE Room Reservation</h2>

	<p>
		Dear <span th:text="${userName}"></span>,
	</p>
	<p>This is to inform you that a booking has been successfully placed by the admin, on your request.</p>

	<h3>Booking Details</h3>
	<div>
		<table style="font-weight: bold;">
			<tr>
				<td>Booked Room</td>
				<td style="border-left: 2px solid blue; padding: 5px;"
					th:text="${notification.roomName}"></td>
			</tr>
			<tr>
				<td>Purpose</td>
				<td style="border-left: 2px solid blue; padding: 5px;"
					th:text="${notification.purpose}"></td>
			</tr>
			<tr>
				<td>Booked Days</td>
				<td style="border-left: 2px solid blue;">
					<ul style="list-style-type: none; padding: 0; margin: 0;">
						<li th:each="date : ${notification.bookingDates}"
							th:text="${date}"></li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>From Time</td>
				<td style="border-left: 2px solid blue; padding: 5px;"
					th:text="${notification.startTime}"></td>
			</tr>
			<tr>
				<td>To Time</td>
				<td style="border-left: 2px solid blue; padding: 5px;"
					th:text="${notification.endTime}"></td>
			</tr>
		</table>
	</div>
	<br><p>If booking had been placed without your consent, please contact admin.</p>
	<br>Thank you for using the FOE Online Room Reservation service.
</body>
</html>
